<h2 class="title">{{name}}</h2>
<div class="country-box">
  <div class="text">
    <p> <span class="word">Capital:</span> {{capital}}</p>
    <p><span class="word">Population:</span> {{population}}</p>
    <p><span class="word">Languages:</span>
    <ul>
      {{#each languages}}
      <li class="lang-item">{{this.name}}</li>
      {{/each}}
    </ul>
    </p>
  </div>
  <div class="picture"><img width="400" src="{{flag}}" alt=":)"></div>
</div>